.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 20px;
    height: 100px;
    background-color: #fff;
    margin-bottom :1px;
    overflow: hidden;
    
    img {
        width: 80px;
    }
}
.textContainer {
    display: flex;
    flex-direction: column;
    width: 200px;
}
.categoryText {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 10px;
}
.titleText {
    font-size: 0.97rem;
}
.buttonContainer {
    display: flex;
    justify-content: space-between;
    border: 1px solid silver;
    width: 100px;
    color: gray;

    button {
        width: 30px;
        border: none;
        background: none;
        color: gray;
        font-size: 1.4rem;
        cursor: pointer;
    }
}
.price {
    font-weight: 700;
    font-size: 0.96rem;
    margin-left: 20px;
}
.removeButton {
    cursor: pointer;
    border-bottom: 1px solid ;
}
.elementContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width:1050px) {
    .container img {
        width: 70px;
    }
    .textContainer {
        width: 180px;
    }
    .categoryText {
        font-size: 1.1rem;
    }
    .titleText {
        font-size: 0.94rem;
    }
}
@media only screen and (max-width:660px) {
    .container {
        justify-content: flex-start;
        position: relative;
        padding: 70px 20px;
    }
    .elementContainer {
        flex-direction: column;
        align-items:flex-start;
        margin-left: 30px;
    }
    .price {
        margin-left: 0 !important;
    }
    .buttonContainer{
        margin: 10px 0;
    }
    .removeButton {
        position: absolute;
        left: 200px;
        bottom: 15px;
        font-size: 0.8rem;
        margin-left: 10px;
    }
}