.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffe7cd;
    padding: 30px 10px 0;
}
.productContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px auto;
}
.brightHeader {
    text-align: center;
    width: 50%;
    p {
        margin-top: 5px;
    }
}