@import '../header/scss/mixin';
.footerContainer {
    display: flex;
}
.leftSection {
    width: 70%;
    background-color: #8cd0e3;
    display: flex;
    padding: 20px 0 20px 70px;
}
.bcorpImage{
    width: 80px;
    height: 150px;
}
.footerNavManue {
    display: flex;

    ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        color: #fff;
        margin-left: 50px;
        position: relative;
    }
}
.footerNavManue ul li {
    cursor: pointer;
    transition: all 0.2s ease;
    font-size: 0.95rem;

    &:hover {color: #000;}

}
.footerNavManue p {
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 10px;  
}
.funStaffContainer{margin-top: 20px;}
.socialmedia_logo {

    img {
        transition: all 0.2s ease;
        width: 30px;
        height: 30px;
        background: #fff;
        margin: 3px;
        border-radius: 50% ;
        cursor: pointer;

        &:hover {
            background-color: #f5ea77;
        }
    }
}
//rightSection
.rightSection {
    width: 30%;
    background-color: #f5ea77;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 10px ;

    h3 {
        font-weight: 700;
        margin-bottom: 10px;
    }
    p{
        font-size: 0.9rem;
        font-weight: 500;
    }
}
.rightSection input{
    margin: 20px auto;
    width: 90%;
    height: 50px;
    text-align: center;
    border:1px solid #ccc;
    color: #666;

    &:focus {
        outline: none;
    }
}
.submitButton {
    @include Button_style(15px 50px);
    width: 90%;
    box-shadow:3px 3px 0 #fdb1be;
}
.text {
    position: absolute;
    text-align: center;
    width: 100%;
    padding: 0;
    left: 0;
    bottom: 0;
    color: #fff;

    p{
    padding: 12px 0;
    color: #fff;
    margin: 0;
    font-size: 15px;
    line-height: normal
    }
}
.socialmediaLogo {
    display: none;
    background-color: #8cd0e3;
    text-align: center;
    padding: 20px auto;

    img {
        transition: all 0.2s ease;
        width: 30px;
        height: 30px;
        background: #fff;
        margin: 3px;
        border-radius: 50% ;
        cursor: pointer;

        &:hover {
            background-color: #f5ea77;
        }
}
}
.plussButton {
    display: none;
    width: 20px;
    background: none;
    border: none;
    outline: none;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    position: absolute;
    right: 10px;
}

@media only screen and (max-width:1080px) {
    .leftSection {
        padding: 20px 0 20px 50px;
    }
    .footerNavManue {
        margin-right: 10px;

        ul {
            margin-left: 40px;
            li{
                font-size: 0.9rem;
            }
        }
    }
}
@media only screen and (max-width:990px) {
    .footerContainer {
        flex-direction: column-reverse;
    }
    .rightSection {
        width: 100%;
        padding: 30px 10px;

        input{
            width: 50%;
            margin: 20px auto 10px;
        }
        button {width: 50%;}
    }

    .leftSection {
        width: 100%;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .bcorpImage {
        margin: 0 auto 20px;
    }
    .footerNavManue {
        flex-direction: column;
        width: 100%;

        ul{
            margin: 0 20px;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #fff;

        }

        p{
            padding: 5px 10px;
        }
    }
    .inActive{display:none;}
    .active{
        display: block;
        background: #fff;
        color: #000;
        padding: 5px 30px;
    }
    .funStaffContainer {
        display: none;
    }
    .text{ bottom: -40px; background-color: #8cd0e3;}
    .socialmediaLogo {
        display: block;
    }
    .plussButton {
        display: block;
    }
}
@media only screen and (max-width:660px) {
    .rightSection{
        input {
           width: 85%;
           height: 40px;
       }
       button {
        width: 85%;
        padding: 10px 50px;
       }
    }
}