@import '../header/scss/mixin';
.container {
    padding: 30px 50px 50px;
    width: 100%;
    height: fit-content;
    background-color: #f6ecf3;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}
.loginBox ,
.registerBox {
    padding: 70px 50px 150px;
    background-color: #fff;
    width: 45%;
    height: 450px;
    margin: 10px;
}
.loginContainer,
.registerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    h3 {
        font-weight: 500;
        margin: 10px auto 0;
    }
    button {
        @include Button-style(13px 40px);
        margin: 40px auto 0;
    }

    span {
        color: #e31c79;
        font-size: 0.75rem;
        font-weight: 500;

    }
}
.loginContainer input {
    height: 40px;
    width: 80%;
    padding: 0 10px;
    margin: 10px auto;
    border: 1px solid #666;;
    outline: none;

    &:placeholder {
        color: #666;;
    }
}
.registerContainer div {
    width: 90%;
    padding:0 0 1px;
    background: linear-gradient(to right,#fb637e 0,#5e549b 100%);
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

     p{
        text-align: center;
        width: 100%;
        background-color: #fff;
        padding: 10px 20px 30px;
     }
}
.loginContainer P {
    text-align: center;
    font-size: 0.9rem;
    margin: 10px auto;
}
@media only screen and (max-width:1050px) {
    .container {
        padding: 30px 10px 50px;
        justify-content: space-between;
    }
    .registerBox,
    .loginBox {
        width: 47%;
        padding: 40px 20px 30px;
        height: 370px;
    }
    .loginContainer input {
        width: 100%;
    }
    .registerContainer div {
        width: 100%;
    }
}
@media only screen and (max-width:990px) {
    .container {
        justify-content: space-around;
    }
    .registerBox,
    .loginBox {
        width:45%;
        height: 400px;
    }
    .registerContainer div p {
        font-size: 0.9rem;
    }
}
@media only screen and (max-width:700px) {
    .container {
        flex-direction: column-reverse;
        padding: 30px 30px;
    }
    .registerBox,
    .loginBox {
        width: 100%;
        height: fit-content;
        padding: 10px 20px 40px;
    }
    .registerContainer div p {
        font-size: 0.95rem;
    }
    .loginContainer,
    .registerContainer {
        button {
            padding: 10px 50px;
            margin: 20px auto 0;
        }
    }
    .registerContainer button {
        padding: 10px 30px;
    }
}