@import '../header/scss/mixin';
.only_bliss_section {
    display: flex;
    margin: 10px 60px 20px;
}
.textContainer {
    width: 25%;
    text-align: center;
    line-height: 40px;
    font-weight: 650;
    font-size: 1.1rem;
}
.second_section{
    background: linear-gradient(to right,#8cd0e3 0,#f08ccd 100%);
}
.onlyBliss_container {
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1px 0;
    padding: 5px 0;
    text-align: center;

    ul {
        width: 75%;
        display: flex;
        justify-content: space-around;
    }
}
.onlyBliss_container ul li {
    display: flex;
    margin: 0 5px;

    p {
        font-size: 0.75rem;
        margin-left: 7px;
        font-weight: 700;
        &:last-of-type {

            font-size: 0.65rem;
        }
    }
}
.second_section {
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom,#8cd0e3 0,#f08ccd 100%);
    width: 100%;
    padding: 50px 0;
}
.second_sectionContainer {
    display: flex;
    justify-content: center;
    width: 90%;
}
.elementContain {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 7px;
    width: 60%;

}
.productImage {
    height: auto;
    max-width: 100%;
    display: inline-block;
    margin-bottom: -43px !important;
}
.text {
    background-color: #fff;
    padding: 13px 10px 24px;
    text-align: center;
    position: relative;
    width: 85%;
    margin: 0 auto;
    height: 107px;
    font-weight: 600;

    P:nth-of-type(2) {
        font-size: 14px !important;
        font-weight: 450;
    }
        
    button {
        position: absolute;
        left: 0;
        right: 0;
        top: 25px;
        width: 90%;
        margin: 0 auto;
        @include Button_style(10px 15px);
    }
}
@media only screen and (max-width:1000px) {
    .only_bliss_section {
        background: none;
        margin: 20px 30px;
    }
    .textContainer { width: 100%;}
    .onlyBliss_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        ul {
            width: 100%;
        }
    }
    .text {
        width: 95%;
        padding: 13px 5px 24px;
    }
}
@media only screen and (max-width:700px) {
    .onlyBliss_container ul li {
        flex-direction: column;
    }
}
@media only screen and (max-width:725px){
    .text {
        padding: 10px 25px 24px;
        button { 
            width: 180px;
            margin:0 auto 0 ;
        }
    } 
}
@media only screen and (max-width:550px) {
    .second_section{background: #fff !important;}
    .second_sectionContainer {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .elementContain {
        width: 90%;
        margin: 20px 0;
    }
    .text {
        width: 90%;
        padding: 0 20px;
        height: 90px;
        P{
            &:last-of-type{
                font-size: 15px !important;
                width: 100%;
            }
        }
        
        button {
            margin:20px auto 20px  !important;
            top: 0;
        }
    }
}