@import '../header//scss/mixin';
.container {
    width: 22%;
    height: 380px;
    background: #fff;
    margin: 30px 3px ;
    text-align: center;
    overflow: hidden;
    color: #333;
    position: relative;
    transition: all 0.3s ease;
    
    &:hover .detailsButton { display: block;}

    &:after{
        content: 'NEW';
        position: absolute;
        width: 45px;
        height: 20px;
        text-align: center;
        color: #000;
        background: #FFF49A;
        font-size: 0.8rem;
        top: 0;
        left: 0;
    }
}
.AddBage {
    @include Button_style(10px 35px);
    margin-top: 20px;
}
.productImage {
    height: 250px;
    width: 100%;

}
.productName{
    font-weight: bold;
    cursor: pointer;
    
    &:hover {
        color: rgb(90, 88, 88);
    }
}
.detailsButton {
    transition: all 0.3s ease;
    position: absolute;
    z-index: 20;
    border: none;
    border-radius: 20px;
    padding: 8px 20px;
    background: linear-gradient(to bottom,rgba(0,0,0,0.1),rgba(0,0,0,0.1));
    top: 210px;
    left: 100px;
    display: none;
    font-weight: 600;


    &:hover{
        background: #fff;

    }
}

@media only screen and (max-width:1050px) {
    .container {
        width: 27%;
    }
}
@media only screen and (max-width:800px) {
    .container {
        width: 30%;
    }
    .detailsButton {
        display: none;
    }
}
@media only screen and (max-width:680px) {
    .container {
        margin: 20px 0;
        width: 33%;
    }
    .title {
        font-size: 0.8rem;
    }
}
@media only screen and (max-width:640px) {
    .container {
        margin: 20px 4px;
        width: 45%;
    }
}
@media only screen and (max-width:480px) {
    .container {
        margin: 20px 4px;
        width: 90%;
    }
}