@import '../header/scss/mixin';
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 21%;
}
.buttonContainer button {
        @include Button_style(10px 40px);
        margin: 10px auto 20px;
}
.smallButton {
    box-shadow: none !important;
    padding: 0 !important;
    width: 30px !important;
    height: 30px !important;
    margin: 10px 5px !important;
    font-size:18px;
}
.productImages {
    background-color: #fff;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: grid;
    place-content: center;
    overflow: hidden;
    position: relative;
    
    img {
        width: 130px;
    }

    &:hover .detailsButton { display: block;}
}
.detailsButton {
    transition: all 0.3s ease;
    position: absolute;
    z-index: 20;
    border: none;
    border-radius: 20px;
    padding: 8px 10px;
    background: linear-gradient(to bottom,rgba(0,0,0,0.1),rgba(0,0,0,0.1));
    bottom:10px;
    left: 50px;
    margin: 0 auto;
    display: none;
    font-weight: 600;
    cursor: pointer;

    &:hover{
        background: #fff;

    }
}
.category {
    color: #333;
    font-weight: 600;
    margin: 10px auto 5px;
}
.productTitle{
    text-align: center;
    font-size: 0.8rem;
    height: fit-content;
    font-weight: 500;
}
@media only screen and (max-width:1050px) {
    .container {
        width: 30%;
        
        button {
            padding: 10px 30px;
        }
    }
    .detailsButton {
        bottom: 20px;
        padding: 10px 15px !important;
    }
}
@media only screen and (max-width:680px) {
    .container {
        width: 35%;
        margin: 0 5px;
    }
}
@media only screen and (max-width:550px) {
    .container {
        width: 40%;
        margin: 0 5px;

        button {
            padding: 10px 15px;
            font-size: 0.7rem;
        }
    }
    .productImages {
        width: 170px;
        height: 170px;
        img {
            width: 90px;
        }
    }
    .detailsButton{
        left: 40px;
    }
}
@media only screen and (max-width:380px) {
    .container {
        width: 60%;

        button {
            padding: 10px 30px;
            font-size: 0.7rem;
        }
    }
    .productImages {
        width:250px;
        height: 200px;
        img {
            width: 150px;
        }
    }
    .category{font-size: 1.2rem;}
    .productTitle{
        font-size: 0.9rem;
    }
    .detailsButton {
        left: 70px;
        padding: 10px 20px !important;
    }
}