.Container {
    background: #f3f8fe;
    display: flex;
    flex-direction: column;
    margin: 40px 0 30px;
    justify-content: center;
    align-items: center;
}
.textContainer {
    text-align: center;
    margin-top: 30px;
    
    h1 {
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}
.productContainer {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 4;
}
@media only screen and (max-width:650px) {
    .textContainer h1 {
        font-size: 1.6rem;
        letter-spacing: 0;
    }
}