.Container {
  background: #f3f8fe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 40px 0 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.textContainer {
  text-align: center;
  margin-top: 30px;
}

.textContainer h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.productContainer {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

@media only screen and (max-width: 650px) {
  .textContainer h1 {
    font-size: 1.6rem;
    letter-spacing: 0;
  }
}
/*# sourceMappingURL=ProductContain.module.css.map */