.container {
    display:flex;
    margin:0px auto 20px;
    width:350px;
    border-bottom:1px solid silver;
    padding:5px 10px;
    cursor:pointer;

    img {
        width: 20px;
    }

    div {
        font-size:0.9rem;
        margin-left:30px;
    }
}
@media only screen and (max-width:450px) {
    .container div {
        font-size: 0.8rem;
        margin-left: 10px;
    }
}