@import '../header/scss/mixin';
.hedaer {
    width: 80%;
    margin: 30px auto 50px;
    background-color: #e3f6fa;
    text-align: center;
    height: 80px;
    line-height: 80px;
}
.container {
    width:100%;
    padding: 30px 40px 15px;
    display: flex;
    justify-content: space-between;
}
.paymentBox {
    width: 26%;
}
.productContainer {
    width: 65%;
    background: linear-gradient(to left,#f08ccd 0,#8cd0e3 100%);
    padding: 1px 0;
    height: fit-content;
}
.paymentContainer {
    width: 100%;
    background: linear-gradient(to left,#f08ccd 0,#8cd0e3 100%);
    padding: 1px;
    height: fit-content;
}
.paymentTextContainer {
    background-color: #fff;
    padding: 20px 15px;

    div {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

    }
    p {
        text-align: right;
        margin-top: 40px;
        font-size: 0.95rem;
    }

}
.afterpayContainer{
    width: 100%;
    direction: rtl;
    margin-bottom: 0 !important;
}
.afterpayButton{
    padding: 10px 20px;
    background: #b2fce4;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 5px;
}
.checkoutBox {
    @include Button_style(12px 30px);
    width: 100%;
    text-align: center;
    margin: 10px 0 0;

}
.paypalContainer {
    width: 100%;
    direction: rtl;
    
    p{
        margin-top: 5px;
    }
    button {
        margin: 30px 0;
        border: none;
        border-radius: 50px;
        background-color: #ffc439;
        padding: 10px 20px;
        width: 270px;
        cursor: pointer;

        img {
            width: 65px;
        }
    }
}
.paypalContainer button:hover {
    filter: brightness(0.95);
}
.compeleted {
    width: 30%;
    margin: 20px auto 30px;
    text-align: center;

    h3 {
        color: #34a853;
    }
}
@media only screen and (max-width:1050px) {
    .container {
        justify-content: center;
        padding: 30px 20px 15px;
    }
    .productContainer {
        margin-right: 40px;
        width: 60%;
    }
    .paymentBox {
        width: 35%;
    }
}
@media only screen and (max-width:990px) {
    .container {
        flex-direction: column;
        align-items: flex-end;
        padding: 30px auto 15px;
    }
    .productContainer{
        width: 100%;
        margin: auto auto;
    }
    .paymentBox {
       width: 40%;
       margin: 20px 0;
    }
}
@media only screen and (max-width:660px) {
    .hedaer {
        margin: 30px auto;
    }
    .container {
        padding: 0 20px 15px;
    }
    .paymentBox {
        margin: 20px auto;
        width:100%;
    }

}