@import '../header/scss/mixin';
.container {
    margin: 50px 20px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;


    img {
        margin: 20px 30px 20px 0;
        width: 50%;
        height: auto;
        z-index: 2;
    }
}
.backgroundColor {
    position: absolute;
    background: linear-gradient(to right,#FFE4C9 0,#FF931C 100%);
    z-index: -1;
    width: 80%;
    height: 105%;
}
.textContainer {
    margin-left: 20px;
    margin-right: 20px;
    h1 a {
        text-decoration: none;
        color: #000;
        font-weight: 600;
    }
     P{
        margin: 20px 0;
        font-size: 1.4rem;
     }
}
.shopBrightButton {
    @include Button_style(13px 22px)
}

@media only screen and (max-width:1200px) {
    .textContainer {
        h1 a{
            font-size: 1.7rem;
        }
        p{
            font-size: 1rem;
        }
    }
}
@media only screen and (max-width:900px) {
    .container img {
        width: 53%;
    }
    .textContainer {
        margin-left: 5px;
    }
}
@media only screen and (max-width:798px) {
    .container {
        flex-direction: column;
        background: linear-gradient(#FFFFFF 0,#FFF49A 30%);
        margin-top: 20px;
        img {
            width: 80%;
            margin: 20px auto;
        }
    }
    .backgroundColor {
        display: none;
    }
    .textContainer {
       text-align: center;
       p {
        margin: 10px 10px;
        font-size: 0.96rem;
       }
    }
    .shopBrightButton {
        margin: 5px 0 50px 0;
        padding: 12px 25px;
    }
}