@mixin subMenue_styles($height) {
    width: 100%;
    height: $height;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #fff;
    display: none;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
          rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
          rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
@mixin submenue_items ($padding){
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: $padding;
    font-weight: bolder;
    color: #000;
    font-size: 14px;
}
@mixin  submenue_itemsLink($size) {
    color: #000;
    font-weight: 500;
    font-size: $size;
    padding: 0;
    width: fit-content;
    transition: all 0.1s ease-in;
    border-bottom: 1px solid #fff;

    &:hover{
        color:#000;
        border-bottom:1px solid #000;
    }
}
@mixin Button_style($padding) {
    box-shadow: 3px 3px 0 #f5ea77;
    color: #fff;
    cursor: pointer;
    background-color: #8cd0e3;
    border: none;
    padding: $padding;
    font-weight: bold;
    position: relative;
    transition:all 0.2s ;
    
    &:hover{
        background:#948ad3 ;
    }
}
