.bannerContainer {
    background: linear-gradient(to right,#fb637e 0,#5e549b 100%);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    img {
        position: absolute;
        right: 25px;
        cursor: pointer;
    }
}
.hideBanner {
    display: none;
}
.bannerText {
    color: #fff;
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Archer A','Archer B';
    letter-spacing: 0.5px;
    width: 70%;
}

@media only screen and (max-width:600px) {
    .bannerContainer {
        height: 60px;
    }
}