@import './mixin';
.container {
    display: flex;
    margin-left: 80px;
    width: 50%;

    ul {
        @include submenue_items(20px 40px);

        li {
            width: 150px;
            margin-top: 10px;
            a {
                @include submenue_itemsLink(12px)
            }
        }
    }
}
@media only screen and (max-width:990px) {
    .container {
        margin-left: 20px;
    }
}