.container {
    width: 100%;
}
.navbar {
    overflow-y: scroll;
}
.manueList {
    li {
        list-style: none;
    }
}
.menueItems {
    background-color: #e3f6fa;
    margin: 1px auto;
    
    p {
        display: block;
        text-decoration: none;
        color: #000;
        font-weight: 650;
        font-size: 0.95rem;
    }
}
.contain {
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
    padding:15px 30px ;
}
.UpDownArrow {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    line-height: 30px;
    overflow: hidden;

    img {
        width: 15px;
        transition: all 0.2s;
    }
}
.subMenueList {
    background-color:#fff;
}
.subMenueItems {
    padding: 0 0 10px;

    li{
        margin:0 30px 10px;
        font-size: 0.9rem;
        border-bottom: 1px solid #fff;
        width: fit-content;
        cursor: pointer;

        &:hover {
            border-color: #000;
        }
    }
}
.closeSubeMenue {
    display: none;
}
.subMenueFirstChild {

    div {
        height: 50px;
        display: flex;
        justify-content:space-between;
        align-items:center;
        padding: 0 35px 0 30px;
    }
    span {
        font-weight: 650;
        font-size: 0.9rem;
    }
    button {
        background: none;
        border: none;
        font-size: 1.1rem;
    }
}
.ShopAllMenueItems {
    background-color: #e3f6fa;
    margin: 1px auto;
    
    p {
        display: block;
        text-decoration: none;
        color: #000;
        font-weight: 650;
        font-size: 0.95rem;
    }
}
.ShopAllSubMenueList {
    background-color: #fff;
    padding: 10px 0;
}
.ShopAllSubMenueList li {
    margin:0 30px 10px;
    font-size: 0.9rem;
    border-bottom: 1px solid #fff;
    width: fit-content;
    cursor: pointer;

    &:hover {
        border-color: #000;
    }
}
.routateArrow{
    transform: translate(0,-50%) rotate(180deg);
}
