.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.headerContainer {
    background-color: #8cd0e3;
    display: flex;
    justify-content: space-around;
    padding: 0 30px;
    
        img {
            width: 40px;
        }
}
.left_section,
.right_section {
    display: flex;
    align-items: center;
    width: 40%;
    text-align: left;
    font-size: 12px;
    font-weight: 600;

    a {
        text-decoration: none;
        color: #fff;
    }

}
.right_section {
    justify-content: flex-end;
    text-align: center;
}
.left_sectionIitems {
    margin-top: 10px;
    margin-left: 15px;
}
.right_sectionIitems {
    margin-top: 10px;
    margin-right: 15px;
    position: relative;
}
.header {
    font-size: 3rem;
    color: #fff;
    margin-top: 20px;
    text-align: center;
}
.hamMenueAIconContainer {
    display: none;
    margin-bottom: 10px;
}
.counter {
    position: absolute;
    background: #f5ea77;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    top: 30px;
    left: 30px;
}
.active {
    position: absolute;
    width: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 20px 0;
    z-index: 5;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
            rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px,
            rgba(0, 0, 0, 0.07) 0px 9px 16px;
    position: relative;


    input {
        outline: none;
        border: none;
        background: #f5ea77;
        width: 400px;
        padding: 13px 10px;
    }
}
.inActive {
    display: none;
}
.closeIcon {
    position: absolute;
    width: 15px;
    top: 10px;
    right: 30px;
    cursor: pointer;
}
.HamMenueContainer {
    background-color: #fff;
    width: 100%;
    display: flex;
    height: fit-content;
    z-index: 15;
}
.closeHamMenue {
    display: none;
}
@media only screen and (max-width:800px) {
    .headerContainer {
        padding: 0 10px;
    }
    .right_section img ,
    .left_section img{
        width: 30px;
    }
    .left_sectionIitems,
    .right_sectionIitems{
        margin-top: 0;
        p {
            display: none;
        }
    }
    .header {
        font-size: 2.8rem;
        margin-top: 0;
    }
    .left_sectionIitems:nth-of-type(3) {
        display: none;
    }
    .hamMenueAIconContainer {
        display: block;
    }
    .counter {
        top:10px;
        left: 20px;
    }
}
@media only screen and (max-width:520px) {
    .closeIcon {
        right: 10px;
    }
}
@media only screen and (max-width:480px) {
    .header {
        font-size: 2rem;
    }
    .right_section img ,
    .left_section img{
        width: 24px;
    }
}
@media only screen and (max-width:450px) {
    .active {
        input {
            width: 80%;
        }
        div {
            width: 80%;
        }
    }
}