@import './mixin';
.container {
    background-color: #8cd0e3;
    width: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    position: relative;
}
.navMenue {
    max-width: 95%;
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.navMenue_list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.navMenue_items a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 0.95rem;
    padding: 0 17px;
    display: block;

    &:hover{
        color: #f5ea77;
    }
}

.bestSeller_subMenue {
    @include subMenue_styles(180px);
    animation: upDown_bestSeller 0.15s ;
    animation-iteration-count: 1;
}
.navMenue_items:hover 
.bestSeller_subMenue{
    display: block;
}
.subMenue_list {
    @include submenue_items(40px 110px);
}
.subMenue_items {
    margin-top: 10px;
    
    a{
        @include submenue_itemsLink(13px);
    }
}
.skincare_subMenue {
    @include subMenue_styles(400px);
    animation: upDown_skincare 0.15s ;
    animation-iteration-count: 1;
}
.navMenue_items:hover 
.skincare_subMenue{
    display: block;
}
.bodyHairecare_subMenue {
    @include subMenue_styles(320px);
    animation: upDown_BodyHaircare 0.15s ;
    animation-iteration-count: 1;
}
.navMenue_items:hover 
.bodyHairecare_subMenue{
    display: block;
}
.ShopAll_subMenue {
    @include subMenue_styles(320px);
    animation: upDown_BodyHaircare 0.15s ;
    animation-iteration-count: 1;
}
.navMenue_items:hover 
.ShopAll_subMenue{
    display: block;
}
.Bliss_subMenue {
    @include subMenue_styles(320px);
    animation: upDown_BodyHaircare 0.15s ;
    animation-iteration-count: 1;
}
.navMenue_items:hover 
.Bliss_subMenue{
    display: block;
}
@keyframes upDown_skincare {
    0% {
        height: 0;
    }
    25% {
        height: 100px;
    }
    50% {
        height: 200px;
    }
    75% {
        height: 300px;
    }
    100% {
        height: 400px;
    }
}
@keyframes upDown_bestSeller {
    0% {
        height: 0;
    }
    25% {
        height: 45px;
    }
    50% {
        height: 90px;
    }
    75% {
        height: 135px;
    }
    100% {
        height: 180px;
    }
}
@keyframes upDown_BodyHaircare {
    0% {
        height: 0;
    }
    25% {
        height: 80px;
    }
    50% {
        height: 180px;
    }
    75% {
        height: 240px;
    }
    100% {
        height: 320px;
    }
}

@media only screen and (max-width:990px) {
    .subMenue_list {
        @include submenue_items(40px 50px);
    }
    .navMenue_items a{
        font-size: 0.9rem;
    }
}

@media only screen and (max-width:800px) {
    .container{
        display: none;
    }
}
