@import './mixin';
.container {
    display: flex;
    width: 50%;
    margin-left: 100px;

    ul {
        @include submenue_items(20px 30px);

        li{
            margin-top: 20px;
           
            a {
                @include submenue_itemsLink(14px);
            }
        }
    }
}
@media only screen and (max-width:990px) {
    .container {
        margin-left: 30px;

        a {
            @include submenue_itemsLink(11px);
        }
    }
}