@import './mixin';
.container {
    display: flex;
    width: 50%;
    margin-left: 60px
}
.skincare_submenue_list {

    ul {
        @include submenue_items(20px 15px);
    }
}
.skincare_submenue_list ul li {
    margin-top: 10px;
    width: 150px;

    a {
        @include submenue_itemsLink(12px);

    }
}
@media only screen and (max-width:990px) {
    .container {
        margin-left: 35px;
    }
}